/* Custom CSS goes here */
body {
  padding-bottom: 70px;
}

.image {
  width: 100%;
  height: 70%;
  align-items: center;
  margin-top: 50px;
  cursor: pointer;
}

.hero-page {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-btn {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
}
